<nav class="navbar navbar-expand-md navbar-fixed-top main-nav brg-main-nav">
  <div class="container">
    <ul class="nav navbar-nav"></ul>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link nav-link-logo" href="#"></a>
      </li>
      <li class="nav-item">
        <form class="form-inline brg-form-search">
          <input class="form-control mr-sm-2 nav-btn-offer" type="search" placeholder="Buscar ofertas, bairros, etc" aria-label="Search" disabled>
          <input class="form-control mr-sm-2" type="search" placeholder="São Paulo - Sul e Oeste" aria-label="Search" disabled>
          <button class="btn btn-outline-success my-2 my-sm-0 nav-btn-search" type="submit" disabled>
            <i class="material-icons">search</i>
          </button>
        </form>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-success my-2 my-sm-0 nav-btn-register" type="submit">Entrar</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0 nav-btn-cart" type="submit">
          <i class="material-icons">shopping_basket</i>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="brg-fr-menu">
  <ul class="nav nav-pills container">
    <li class="nav-item selected">
      <a class="nav-link" href="#">Na cidade</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Viagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sudeste</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nordeste</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sul</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Centro Oeste</a>
    </li>
  </ul>
</div>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Ofertas</a></li>
      <li class="breadcrumb-item"><a href="#">Região</a></li>
      <li class="breadcrumb-item active" aria-current="page">Personalizada</li>
    </ol>
  </nav>
</div>

<div class="container" *ngIf="deal">
  <h1>{{ deal.title }}</h1>
  <div class="product group">
    <div class="col-1-2 product-image">
      <div class="bg"></div>
      <div class="indicator">
        <div class="dot one"></div>
        <div class="dot two"></div>
        <div class="dot three"></div>
        <div class="dot four"></div>
        <div class="dot five"></div>
      </div>
    </div>
    <div class="col-1-2 product-info" >
      <p class="brg-pr-price-desc">a partir de</p>
      <h2 class="brg-pr-price">
         <small>R$</small>{{ deal.buyOptions[0].salePrice | number:'.2-5'}}
      </h2>
      <ng-template #popContent>
        <div class="list-group"  *ngFor="let item of deal.buyOptions">
          <div class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
              <div style="float: left;">
                <div class="brg-buy-md-title">{{ item.title }}</div>
                <div style="display: block">De {{ item.startDate | date: 'MM/dd/yyyy':'UTC' }} até {{ item.endDate | date: 'MM/dd/yyyy':'UTC' }}</div>
              </div>
              <div style="float: right;">
                <div class="brg-buy-md-price">R$ {{ item.salePrice | number:'.2-5' }}</div>
                <button type="button" class="btn btn-primary list-group-brn" (click)="saleBuyOption(deal.id, item.id)" *ngIf="item.quantityCupom > 0">Comprar</button>
                <button type="button" class="btn list-group-brn brg-btn-disabled" *ngIf="item.quantityCupom < 1" disabled>Esgotada</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #popTitle>Escolha sua oferta</ng-template>

      <button type="button" class="btn btn-outline-secondary brg-btn-buy" placement="left"  [ngbPopover]="popContent" [popoverTitle]="popTitle">
        COMPRE <i class="material-icons">keyboard_arrow_down</i>
      </button>

      <div class="brg-cpa-sold">
        <div><strong>{{ deal.totalSold }}</strong></div>
        <div>Cupons vendidos</div>
      </div>
      <p>
        {{ deal.text }}
      </p>
    </div>
  </div>
</div>

<div class="container brg-not-found" *ngIf="!deal">
  <h1>Oooops!</h1>
  <h6>Parece que esta página não está mais disponível...</h6>
</div>
